
/*   ----- Variables  -----  */
:root {
    --custom-color-name:;
    --custom-embellishment-name:;

    /*Colors*/
    --theme-tan: #F2B66D;
    --theme-blue: #6C898C;
    --theme-pumpkin:#BF5B21;
    --theme-orange: #F27F1B;
    --theme-brown: #401D10;

  }
  
  body {       
    background-image: linear-gradient(var(--theme-blue),white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
    color:;
    font-family:; 
    margin:;
    padding:;
    max-width:;
  }
  

  /*Classes for top menu bar*/
.nav-wrapper {
    width: 100%;
    background-color: var(--theme-pumpkin); 
    border-radius: 15px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 

}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 900px; /* Optional: limits how wide it gets */
}

.main-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}

.main-nav a:hover {
    color: #000;
}

/* Blurbs BELOW the black background */
.blurb-container {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
    margin-top: 10px; 
}

.blurb {
    font-size: 14px;
    color: white;
    background-color: var(--theme-tan); 
    width: 150px; 
    height: 60px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 1%;
}


    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
  }
  
  .modal.hidden {
      display: none;
  }
  
  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
  }
  
  .modal-content button {
      margin: 5px;
  }
    



.table-container {
  max-height: 400px; 
  overflow-y: auto; 
  overflow-x: hidden;
  border: 1px solid #ccc; 
}

.table-container thead th {
  position: sticky;
  top: 0; 
  background-color: #f4f4f4; 
  z-index: 1; 
}


 
  
  @keyframes App-logo {}
  
  @media all and (min-width: 600px) {}
  
  @media all and (min-width: 1080px) {}
  
  @media print {}